deployment/model/wsdls/AddressLookupAPI.AddressLookup_FindAddress.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://services.postcodeanywhere.co.uk/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://services.postcodeanywhere.co.uk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.postcodeanywhere.co.uk/">
      <s:element name="CapturePlus_Interactive_Find_v2_10">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchTerm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchFor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LanguagePreference" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MaxSuggestions" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MaxResults" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapturePlus_Interactive_Find_v2_10_Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CapturePlus_Interactive_Find_v2_10_Result" type="tns:CapturePlus_Interactive_Find_v2_10_ArrayOfResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CapturePlus_Interactive_Find_v2_10_ArrayOfResults">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CapturePlus_Interactive_Find_v2_10_Results" type="tns:CapturePlus_Interactive_Find_v2_10_Results" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CapturePlus_Interactive_Find_v2_10_Results">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Highlight" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cursor" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Next" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CapturePlus_Interactive_Find_v2_10_SoapIn">
    <wsdl:part name="parameters" element="tns:CapturePlus_Interactive_Find_v2_10" />
  </wsdl:message>
  <wsdl:message name="CapturePlus_Interactive_Find_v2_10_SoapOut">
    <wsdl:part name="parameters" element="tns:CapturePlus_Interactive_Find_v2_10_Response" />
  </wsdl:message>
  <wsdl:portType name="PostcodeAnywhere_Soap">
    <wsdl:operation name="CapturePlus_Interactive_Find_v2_10">
      <wsdl:input message="tns:CapturePlus_Interactive_Find_v2_10_SoapIn" />
      <wsdl:output message="tns:CapturePlus_Interactive_Find_v2_10_SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostcodeAnywhere_Soap" type="tns:PostcodeAnywhere_Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CapturePlus_Interactive_Find_v2_10">
      <soap:operation soapAction="http://services.postcodeanywhere.co.uk/CapturePlus_Interactive_Find_v2_10" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostcodeAnywhere">
    <wsdl:port name="PostcodeAnywhere_Soap" binding="tns:PostcodeAnywhere_Soap">
      <soap:address location="https://services.postcodeanywhere.co.uk/CapturePlus/Interactive/Find/v2.10/soapnew.ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>