deployment/model/wsdls/AddressLookupAPI.AddressLookup_RetriveAddress.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://services.postcodeanywhere.co.uk/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://services.postcodeanywhere.co.uk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.postcodeanywhere.co.uk/">
      <s:element name="CapturePlus_Interactive_Retrieve_v2_10">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapturePlus_Interactive_Retrieve_v2_10_Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CapturePlus_Interactive_Retrieve_v2_10_Result" type="tns:CapturePlus_Interactive_Retrieve_v2_10_ArrayOfResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CapturePlus_Interactive_Retrieve_v2_10_ArrayOfResults">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CapturePlus_Interactive_Retrieve_v2_10_Results" type="tns:CapturePlus_Interactive_Retrieve_v2_10_Results" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CapturePlus_Interactive_Retrieve_v2_10_Results">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DomesticId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LanguageAlternatives" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubBuilding" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BuildingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BuildingName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryStreet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Block" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Neighbourhood" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Line1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Line2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Line3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Line4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Line5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminAreaName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminAreaCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProvinceName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProvinceCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryIso2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryIso3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CountryIsoNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SortingNumber1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SortingNumber2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Barcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POBoxNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Label" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataLevel" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CapturePlus_Interactive_Retrieve_v2_10_SoapIn">
    <wsdl:part name="parameters" element="tns:CapturePlus_Interactive_Retrieve_v2_10" />
  </wsdl:message>
  <wsdl:message name="CapturePlus_Interactive_Retrieve_v2_10_SoapOut">
    <wsdl:part name="parameters" element="tns:CapturePlus_Interactive_Retrieve_v2_10_Response" />
  </wsdl:message>
  <wsdl:portType name="PostcodeAnywhere_Soap">
    <wsdl:operation name="CapturePlus_Interactive_Retrieve_v2_10">
      <wsdl:input message="tns:CapturePlus_Interactive_Retrieve_v2_10_SoapIn" />
      <wsdl:output message="tns:CapturePlus_Interactive_Retrieve_v2_10_SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostcodeAnywhere_Soap" type="tns:PostcodeAnywhere_Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CapturePlus_Interactive_Retrieve_v2_10">
      <soap:operation soapAction="http://services.postcodeanywhere.co.uk/CapturePlus_Interactive_Retrieve_v2_10" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostcodeAnywhere">
    <wsdl:port name="PostcodeAnywhere_Soap" binding="tns:PostcodeAnywhere_Soap">
      <soap:address location="https://services.postcodeanywhere.co.uk/CapturePlus/Interactive/Retrieve/v2.10/soapnew.ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>